{% extends 'core/main.html' %}
{% load static %}

{% block body %}

    <div id="container">
        <!-- <div id="carousel">

            <div id="drivers">
                <img src="{% static 'media/bus7.webp'%}" class="cimg">
                <img src="{% static 'media/bus8.jpg'%}" class="cimg">
                <img src="{% static 'media/bus4.webp'%}" class="cimg">
                <img src="{% static 'media/bus5.webp'%}" class="cimg">
                <img src="{% static 'media/bus6.webp'%}" class="cimg">


            </div>

            <div id="hotels">
                <img src="{% static 'media/travel.jpg'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">

            </div>

            <div id="views">
                                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">
                <img src="{% static 'media/'%}" class="cimg">

            </div>

        </div> -->
        <div id="story"></div>
        <div id="reviews"></div>

        <div id="buttons">
            <!-- <button id="hotels" type="submit"><a href="#">Hotels</a></button>
            <button id="buses" type="submit"><a href="#">Buses</a></button>
            <button id="register" type="submit"><a href="#">Register</a></button> -->
            <button type="button" class="btn btn-outline-info">Info</button>
        </div>
    </div>
{% endblock %}